body {
  padding-top: 50px;
}

.webcamContainer {
  width: 320px;
  height: 240px;
}

#dropZone {
  padding: 25px;
  border-style: dashed;
  color: #bbb;
  text-align: center;
}

#webcamControl {
  display: none;
}

#trackEditorContainer {
  border: solid #FF0000 1px;
}

.progress-bar {
  -webkit-transition: width .2s ease;
  -moz-transition: width .2s ease;
  -ms-transition: width .2s ease;
  -o-transition: width .2s ease;
  transition: width .2s ease;
}​