@(drivers: List[neo4j.models.NeoDriver])

<div class="row">
    <div class="col-md-12">
        @twbs.buttons.buttonPrimary("button",'id->"driverAddBtn") {
            @Messages("driver.add")
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
    @if(drivers.isEmpty == true) {
        @Messages("driver.none")
    } else {

        <table class="table table-bordered">
            <tbody>
            @for(driver <- drivers) {
                <tr>
                    <td>@driver.id</td>
                    <td>
                    @if(driver.hasPicture == true) {
                        <img height="64" class="img-rounded" src="@routes.DataController.displayImage(driver.id)" />
                    }
                    </td>
                    <td>@driver.name</td>
                    <td>@twbs.buttons.buttonInfo("button", 'class -> "driverEditBtn", Symbol("data-driverid") -> driver.id) {
                        @Messages("edit")
                    }</td>
                </tr>
            }
            </tbody>
        </table>
    }
    </div>
</div>