@(tab: String)(implicit request: play.api.mvc.Request[play.api.mvc.AnyContent])

    @script = {
        <script type="text/javascript">
            var currentTab = "@tab";
        </script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/dataPage.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/webcam.min.js")'></script>
    }

@main(Messages("dataview"),ENavpoint.DATA, script) {
    @twbs.pageHeader {
        @Messages("dataHeadline")
    }
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="dataTab">
        <li><a href="#drivers" data-toggle="tab">@Messages("data.tab.drivers")</a></li>
        <li><a href="#cars" data-toggle="tab">@Messages("data.tab.cars")</a></li>
        <li><a href="#tracks" data-toggle="tab">@Messages("data.tab.tracks")</a></li>
        <li><a href="#trackParts" data-toggle="tab">@Messages("data.tab.trackParts")</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane" id="drivers"></div>
        <div class="tab-pane" id="cars"></div>
        <div class="tab-pane" id="tracks"></div>
        <div class="tab-pane" id="trackParts"></div>
    </div>

    <div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Settings</h4>
                </div>
                <div class="modal-body" id="dataModalContent">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="dataModalSaveBtn">Save changes</button>
                </div>
            </div>
        </div>
    </div>

}